.jumbotron {
  padding-top: 10rem;
  background-color: #cbe3ff;
}

#projects {
  background-color: #ffffff;
}

#skills {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
